.coverImage{
  background-image:url('./images/3.jfif');
  background-position: 'center';
  background-size: 'cover';
  height : '100%';
  width : '100%';
  background-attachment : 'fixed';
}

/* .coverImage{
  background: url('./images/3.jfif');
  background-repeat:  no-repeat;
  background-size: cover;
  color: white;
  height: 100%;
  width: 100%;
  background-position:'center' ;
  background-size:'cover' ;
  background-attachment : 'fixed';
} */

.content {
  margin: auto;
  margin-top: 20px;
  width: 70%;
  height: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  word-wrap: break-word;
}

.title {
  padding-top: 7%;
  padding-bottom: 4%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 4em;
  letter-spacing: 0.15rem;
  color: rgb(197, 13, 13);
  text-shadow: 1px 1px rgb(197, 13, 13);
}

label {
  color: #333;
}

.result-container {
  text-align: center;
  font-weight: 600;
  font-size: 4em;
  letter-spacing: 0.15rem;
  padding: 20px 0 0;
}

#result {
  color: #000;
}